/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
  color: white;
  background: #222222;
  line-height: 1.5;
  padding: 12px;
  p {
    font-size: 16px;
  }
}

@include breakpoint($tablet-width) {
  body {
    p {
      font-size: 25px;
    }
  }
}

.site-info {
  p {
    font-size: 16px;
  }
}

@include breakpoint($tablet-width) {
  flex-shrink: 0;
  flex-grow: 1;
  .p {
    margin: 0;
  }
}

@include breakpoint($tablet-width) {
  .site-footer {
    display: flex;
    margin: 32px 0;
  }
}

@include breakpoint($tablet-width) {
  .site-navigation {
    flex-grow: 0;
  }
}
/* All Archives Page */

/* Submit a Quote Page */
