/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
  color: #ffffff;
  background: #222222;
  line-height: 1.5;
  padding: 12px;
  margin: 0 auto;
  font-family: 'Exo', 'sans-serif';
  p {
    font-size: 16px;
    @include breakpoint($tablet-width) {
      font-size: 28px;
    }
  }
}

@include breakpoint($desktop-width) {
  body p {
    font-size: 40px;
    max-width: 650px;
  }
}

.about-page {
  p {
    font-size: 16px;
  }
}

.site-info {
  p {
    font-size: 16px;
  }
}

@include breakpoint($tablet-width) {
  flex-shrink: 0;
  flex-grow: 1;
  .p {
    margin: 0;
  }
}

@include breakpoint($tablet-width) {
  .site-navigation {
    flex-grow: 0;
  }
}

.quote-author {
  display: flex;
  flex-direction: column;
  @include breakpoint($desktop-width) {
    width: 400px;
  }
}

@include breakpoint($desktop-width) {
  .quote-content {
    width: 650px;
  }
}

@include breakpoint($desktop-width) {
  .quote-source {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}

.quote-source-url {
  padding-bottom: 10px;
  @include breakpoint($desktop-width) {
    width: 450px;
    display: flex;
    flex-direction: column;
  }
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
  li {
    margin-bottom: 8px;
    margin-right: 10px;
  }
}

.archives-cate {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 8px;
    margin-right: 10px;
  }
}

@include breakpoint($desktop-width) {
  h2,
  .site-content {
    text-align: left;
    max-width: 700px;
  }
}

@include breakpoint($desktop-width) {
  .header-hfeed {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@include breakpoint($tablet-width) {
  .site-footer {
    display: flex;
    margin: 32px 0;
    @include breakpoint($desktop-width) {
      justify-content: flex-end;
      width: 85%;
    }
  }
}

@include breakpoint($tablet-width) {
  .site-content a {
    font-size: 20px;
    @include breakpoint($desktop-width) {
      font-size: 20px;
    }
  }
}

.wp-tag-cloud {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px !important;
  li {
    margin-bottom: 8px;
    margin-right: 10px;
  }
}

@include breakpoint($tablet-width) {
  li {
    font-size: 16px;
  }
}

/* All Archives Page */

/* Submit a Quote Page */

.site-content {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  &::before {
    content: '\f10d';
    font-family: 'FontAwesome';
    font-size: 8rem;
    font-weight: 900;
    position: absolute;
    left: -175px;
    top: 0;
    color: $green-band;
  }
  &::after {
    content: '\f10e';
    font-family: 'FontAwesome';
    font-size: 8rem;
    font-weight: 900;
    position: absolute;
    right: -175px;
    top: 0;
    color: $green-band;
  }

  @include breakpoint($desktop-width) {
    max-width: 700px;
  }

  .search-field {
    padding: 10px;
    @include breakpoint($tablet-width) {
      padding: 13px;
    }
  }

  //content: 'this is after the site-content'; // replace this with the font icon, see the slides in the slack channel
  // position: absolute;
  // right val e.g. right: -175px;
  // top val
}
